<div id="response" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('response')" src="/gui/img/x.png"></div>
        <div class="column section-border" style="flex:25%;text-align:left;padding:15px;">
            <h1 style="font-size:70px;margin-top:-20px;">Response</h1>
            <h4 style="margin-top:-40px">the autonomous incident responder</h4>
            <p>
                Think of <i>response</i> as the blue version of the stockpile plugin. Specific blue team response
                actions are stored here as abilities. Instead of adversaries,you'll find defenders, which can be
                launched on a host to protect it against an attacker.
            </p>
        </div>
        <div class="column" style="flex:75%">
            <div class="column" style="flex:67%;padding:15px;text-align: left">
                <div class="row inner-row" style="background-color: inherit;margin: -45px -50px -50px;">
                    <div class="column duk-home" style="flex:33%;border-right: solid white 1px;line-height: 10px;">
                        <img src="/gui/img/payload.png"/>
                        <h3><span style="color:lightblue;font-weight: 900;">abilities</span></h3>
                        <h1>{{ abilities|length }}</h1>
                    </div>
                    <div class="column duk-home" style="flex:33%;line-height: 10px;">
                        <img src="/gui/img/hacker.png"/>
                        <h3><span style="color:green;font-weight: 900;">defenders</span></h3>
                        <h1>{{ adversaries|length }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="response-section-2" class="section-profile">
    <div class="row">
         <div class="topleft duk-icon"><img onclick="removeSection('terminal-section-2')" src="/gui/img/x.png"></div>

         <div class="column" style="flex:100%;padding:15px;text-align: left">
             <div id="filters">
                <center>
                    <div id="viewOperation">
                        <select id="operation-list" style="margin-bottom: 15px;" onchange="refresh()">
                          <option id="operationDefault" value="" disabled selected>Operations</option>
                          {% for op in operations %}
                                {%  if op.start|length%}
                                    <option class="operationOption" id="{{ op.id }}-{{ op.name }}" value="{{ op.id }}">{{ op.name }} - {{ op.start }}</option>
                                {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                </center>
             </div>
             <br>
             <div id="network">
                 <table id="host-table" border=1 frame=void rules=rows style="border-spacing:15px;">
                     <thead>
                        <tr>
                            <td><b>Host</b></td>
                        </tr>
                     </thead>
                 </table>
                 <div id="lateral-mov">NO</div>
             </div>
         </div>
    </div>
</div>
<script>
    let refresher = setInterval(refresh, 10000);
    $('.section-profile').bind('destroyed', function() {
        clearInterval(refresher);
    });

    function refresh(){
        function refreshHosts(data){
            data.forEach(function(h){
                let found = false;
                $("#host-table tr").each(function () {
                    if($(this).attr('id') == h) {
                        found = true;
                    }
                });
                if(!found){
                    $('#host-table tr:last').after(
                        '<tr id="'+ h +'">' + h + ': Not Compromised' + '</tr>'
                }
            });
        }
        function refreshStatus(data){
            lateral_mov = data.lateral_mov
            host_status = data.host_status
            host_status.forEach(function(s){
                if host_status[s] != 0 {
                    $("#host-table tr").each(function () {
                        if($(this).attr('id') == s) {
                            $(this).replaceWith(s + ': COMPROMISED!!!');
                        };
                    });
                };
            });
            if lateral_mov != 0 {
                $("#lateral-mov").replaceWith('YES!!');
            };
        restRequest('POST', info, refreshHosts, '/plugin/responder/update')
    };
</script>
